@charset "UTF-8";
/* CSS Document */
body {
	background-color:#A5ACC3;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #221811;
	font-family: Tahoma, Arial, Helvetiva;
}
header {
	background-color: #A5ACC3;
	color: #8C3826;	
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
h1 {
	font-size: 3em;
}
h2 {
	color: #8C3826;
}
h3 {
	color: #8C3826;
	}	
dt {
	color: #8C3826;
	}
h4 { 
		background-color: #D2B48C;
		font-size: 1.2em;
		padding-left: .5em;
		padding-bottom: .25em;
	}
nav { 
/*	font-size: 1.5em;*/
		padding-top: 30px;
		padding-bottom: 30px;
/*		text-align: center;*/
		}
nav a { 
		text-decoration: none;
		}
main {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	display: block;
	}
.details {
	padding-left: 20%;
	padding-right: 20%;
	}
img {
	padding-left: 10px;
	padding-right: 10px;
		
	}
.img_hlp_grpelders{
	float: right;
	margin: 10px;
}

.img_hlp_grpelders img {
  width: 800px;
  height: auto;
}

.footer{
	background-color: #23E882;
		font-size: 0.60em;
		font-style: normal;
		text-align: left;
		padding: 1em;
		border-top: 10px #8C3826 solid;
		float: left;
}
.callToAction-home-link-button{
	font-weight: bold;
	border-radius: 10px;
	background-color: #23E882;
		font-size: 50px;
		font-family: Montserrat;
		text-align: center;
		color: white;
		padding: .5em;
		float: center;
}
.callToAction-pages-link-button{
	border-radius: 8px;
	background-color: #CB97D5;
		font-size:25px;
		font-family: Montserrat;
		text-align: center;
		color: black;
		padding: .5em;
		float: center;
}
.callToAction-main{
	font-weight: bold;
	background-color: #B41319;
	border-radius: 8px;
	color: white;
	padding: 2em;
		font-size: 16px;
		font-style: normal;
		text-align: left;
		float: center;
}
.callToAction-access-button{
	background-color: #B41319;
	border-radius: 8px;
	color: white;
	padding: 2em;
		font-size: 0.60em;
		font-style: normal;
		text-align: left;
		float: center;
}

footer {
/*
		background-color: #23E882;
		font-size: 0.60em;
		font-style: italic;
		text-align: left;
		padding: 1em;
		margin-right: 0;
*/
/*		float: left;*/
	border-radius: 10px;
	background-color: #23e882;
	border: 1px solid rgba(0, 0, 0, 0.2);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	gap: 45px;
	color: #b41218;
	}
#wrapper {
	min-width: 900px;
	min-height: inherit;
/*	max-width: 120px;*/
/*	box-shadow: 3px 3px 3px #676767;*/
/*	width: 80%;*/
	background-color: #A5ACC3;
	margin: 0 atuo;
/*
	margin-right: auto;
	margin-left: auto;
*/
}

  
